<h1> Lista de dependientes para el usuario 
  <%= @usuario.perfil.nombre %>
  <%= @usuario.perfil.apellidoPaterno %>
  <%= @usuario.perfil.apellidoMaterno %>
</h1>

<ul>
  <% @usuario.dependientes.each do |dependiente| %>
    <li> <%= dependiente %>  </li>
  <% end %>
</ul>
