<header>
  <h1> Agregar los datos del dependiente del usuario
    <%= @usuario.perfil.nombre %>
    <%= @usuario.perfil.apellidoPaterno %>
    <%= @usuario.perfil.apellidoMaterno %>
  </h1>
</header>

<%= render :partial => 'form'  %>
